*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #F1BB0B;
    padding-top: 100px;
}

/* Heder Styling */

header{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    top: 0;
    padding: 10px ;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    backdrop-filter: blur(10px);
    border-radius: 40px;
}

nav{
    margin: 0 auto;
}

nav ul{
    display: flex;
    justify-content: space-evenly;
}

header nav ul{
    list-style: none;
}

header nav li{
    position: relative;
    margin-left: 7vw;
}

header nav li img{
    border-radius: 50%;
    width: 30px;
    position: relative;
}


header nav a{
    text-decoration: none;
    color: white;
    position: relative;
    top: 15px;
    right: 40px;

}

header .sign-btn{
    margin-right: 20px;
    border: 2px solid #013D46;
    background-color: transparent;
    padding: 5px 15px;
    box-sizing: border-box;
    border-radius: 20px;


}

/* HomePage Styling */

.page-section{
    height: 100vh;
    display: flex;
    width: 100vw;
    
}
.page-section:nth-of-type(1) {
    display: flex;
    background-color: #F1BB0B;
}
.page-section:nth-of-type(2){ 
    background-color: #ECE8E8;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.paragraphs{
    text-transform: uppercase;
    margin-left: 30px;
    text-align: left;
}

.paragraphs h1{
    font-size: 5vw;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 1000;
    letter-spacing: -2px;
    color: #000000;
    

}

.text1{
    color: white;
    font-family: Arial;
    font-size: 3vw;
    font-weight: 500;
    letter-spacing: -1px;
    margin-bottom: 10px;

}

.paragraphs h2{
    color: white;
    font-family: Arial;
    font-size: 4.5vw;
    font-weight: 700;
    letter-spacing: -2px;
    
}

.text2{
    text-transform: none;
    color: white;
    margin-top: 20px;
    font-size: 1.5vw;
    margin-bottom: 50px;
}

.order-btn, .about-btn{
    background-color: #00833E;
    border: none;
    padding: 10px 15px;
    border-radius: 10px;


}

.order-btn a, .about-btn a{
    text-decoration: none;
    color: white;
    font-size: 1.5vw ;
}

/*

.main-image{
    flex: 1;
    width: 100%;    
}

.home-burger{
    width: 100%;
    height: 100%;
}

*/

.page-section:nth-of-type(2) .paragraphs h2, .page-section:nth-of-type(2) .paragraphs p{
    color:black ;
}

.page-section:nth-of-type(2) .paragraphs .text1{
    color: red;
    margin-bottom: 60px;
    font-size: 2vw;
}
