*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #F1BB0B;
    padding-top: 100px;
}

/* Heder Styling */

header{
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    top: 0;
    padding: 15px ;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.7);
    z-index: 1000;
    backdrop-filter: blur(10px);
}

nav{
    margin: 0 auto;
}

nav ul{
    display: flex;
    justify-content: space-evenly;
}

header nav ul{
    list-style: none;
}

header nav li{
    position: relative;
    margin-left: 7vw;
}

header nav li img{
    border-radius: 50%;
    width: 30px;
    position: relative;
}


header nav .nav-link{
    text-decoration: none;
    color: black;
    position: absolute;
    top: 30px;
    right: -7px;
    font-weight: 700;

}

header .sign-btn{
    margin-right: 20px;
    border: 2px solid #013D46;
    background-color: transparent;
    padding: 5px 15px;
    box-sizing: border-box;
    border-radius: 20px;


}

/* HomePage Styling */

.homepage1{
    height: 100vh;
    display: flex;
    width: 100vw;
    display: flex;
    background-color: #F1BB0B;  
}

.homepage1::after{
    content: '';
    position: absolute;
    bottom: -216px;
    left: 0;
    width: 100vw;
    height: 100px; /* Adjust to control the depth of the triangle */
    background-color: #f5f1e9; /* Background color below the image */
    clip-path: polygon(50% 100%, 100% 0, 0 0);
    background-color: #F1BB0B;

}

.paragraphs{
    text-transform: uppercase;
    margin-left: 30px;
    text-align: left;
}

.paragraphs h1{
    font-size: 5vw;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 1000;
    letter-spacing: -2px;
    color: #000000;
    

}

.text1{
    color: white;
    font-family: Arial;
    font-size: 3vw;
    font-weight: 500;
    letter-spacing: -1px;
    margin-bottom: 10px;

}

.paragraphs h2{
    color: white;
    font-family: Arial;
    font-size: 4.5vw;
    font-weight: 700;
    letter-spacing: -2px;
    
}

.text2{
    text-transform: none;
    color: white;
    margin-top: 20px;
    font-size: 1.5vw;
    margin-bottom: 50px;
}

button{
    background-color: #00833E;
    border: none;
    padding: 5px 15px;
    border-radius: 10px;
}
button:hover{
    opacity: 0.7;
}
button a{
    text-decoration: none;
    color: white;
    font-size: 1.5vw ;
}



.main-image{
    flex: 1;
    width: 100%;    
}

.home-burger{
    width: 100%;
}



.homepage2{
    background-color: #ECE8E8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.homepage2 .paragraphs h2, .homepage2 .paragraphs p{
    color:black ;
}

.page-section:nth-of-type(2) .paragraphs .text1{
    color: red;
    margin-bottom: 60px;
    font-size: 2vw;
}

.pizza-image{
    width: 40vw;

}
.pizza-image img{
    width: 100%;
}

.homepage2 .paragraphs{
    flex: 1;

}


.homepage3{
    background-color: #ECE8E8;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 5px solid rgba(128, 128, 128, 0.473);

}

.homepage3 h1{
    display: block;
    text-align: center;
    font-size: 3vw;
    margin-bottom:8vw;
    color: red;
}

.best-dishes{
    display: grid;
    grid-template-columns:22vw 22vw 22vw 22vw ;
    column-gap: 3vw;
    margin-bottom: 20px;

    
    
}

.dish-container{
    background-color:none;
    border-radius: 37px 37px 20px 20px ;
    position: relative;
    padding: 10px;
    cursor: pointer;
    transition: .5s;
    background-color: white;
    display: flex;
    flex-direction: column;
    text-align: start;
    justify-content: end;


}



.dish-container:hover .dish-image{
    transform: translateY(-35px);
    
}

.dish-container:hover .dish-text{
    font-weight: 700;
}

.dish-image{
    width: 20vw;
    position: absolute;
    top: -7vw;

    
}

.dish-image img{
    width: 100%;
}

.dish-content{
    display: flex;
    padding: 5px;
    margin-top:20vh;
}

.dish-text{
    font-size: 1.5vw;
    flex: 1;
}



.buy-btn a{
    font-size: 1.5vw;
    text-decoration: none;
    color: white;
}

.price-details{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.price-details .dish-price{
    font-size: 1.5vw;
    font-weight: 1000;
    color: red;
}

.view-more-btn,.buy-btn{
    background-color: #00833E;
}

.buy-btn{
    background-color: #00833E;
}

.like-unlike{
    width: 2vw;

}

.like-unlike img{
    width: 100%;
  
}
.view-more{
    margin-top: 50px;
    text-align: center;
}

