*{
    margin: 0;
    padding: 0;
}

/* General Button */

button{
    border: none;
    border-radius: 10px;
    padding: 5px 15px;
}

button:hover{
    opacity: 0.7;
}

body{
    background-color:  #ECE8E8;
    padding-top: 70px;
}

/* Heder Styling */

header{
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    top: 0;
    padding: 15px ;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.7);
    z-index: 1000;
    backdrop-filter: blur(10px);
    background-color: #ECE8E8;
}

nav{
    margin: 0 auto;
}

nav ul{
    display: flex;
    justify-content: space-evenly;
}

header nav ul{
    list-style: none;
}

header nav li{
    position: relative;
    margin-left: 7vw;
}

header nav li img{
    border-radius: 50%;
    width: 30px;
    position: relative;
}


header nav .nav-link{
    text-decoration: none;
    color: black;
    position: absolute;
    top: 30px;
    right: -7px;
    font-weight: 700;

}

header .sign-btn{
    margin-right: 20px;
    border: 2px solid #013D46;
    background-color: transparent;
    padding: 5px 15px;
    box-sizing: border-box;
    border-radius: 20px;


}

.header-content{
    background-color:black;
    display: flex;
    justify-content: space-evenly;
    height: 60px;
    position: fixed;
    top:65px;
    width: 100%;
    z-index: 200;
  

}

.side-bar{
    padding: 0 30px;
    position: fixed;
    left: 0;
    height: 100%; 
    width: 15vw;
    overflow: hidden;
    top: 150px;

}

.side-bar h2{
    font-size: 1.5vw;
    font-weight: 900;
    letter-spacing: -2px;
    margin-bottom: 20px;
    color: tomato;
}

.side-bar ul li{
    margin-bottom: 25px;
}

.side-bar ul li a{
    text-decoration: none;
    color: black;
    font-size: 1.2vw;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
}

/*.side-bar ul li a::after{
   content: '';
   position: absolute;
   height: 5px;
   background: #00833E;
   width: 0;
   top: 25px;
   left: 0;
   transition: 0.5s ease;
}

.side-bar ul li a:hover::after{
    width: 100%;

}

*/

.side-bar ul{
    list-style: none;  

}

.active-category-name{
    color: white;
    font-size: 3vw;
}

.display-meals{
    margin-left: 17vw;
    margin-right: 2vw;
}



.dishes{
    display: flex;
    column-gap: 3vw;
    margin-bottom: 20px;
    margin-top: 150px;
    flex-wrap: wrap;
    row-gap: 7vw;
    padding: 50px;
}

.dish-container{
    width: 14vw;
    background-color:none;
    border-radius: 37px 37px 20px 20px ;
    position: relative;
    padding: 10px;
    cursor: pointer;
    transition: .5s;
    background-color: white;
    display: flex;
    flex-direction: column;
    text-align: start;
    justify-content: end;
    
    

}


.dish-container:hover .dish-image{
    transform: translateY(-25px);
    
}



.dish-image{
    width: 15vw;
    position: absolute;
    top: -5vw;
    left: 5px;

    
}

.dish-image img{
    width: 100%;
}

.dish-content{
    display: flex;
    padding: 5px;
    margin-top:170px;
    height: 130px;
    overflow: hidden;
    
}

.dish-text{
    font-size: 1.3vw;
    flex: 1;
}



.buy-btn a{
    font-size: 1.3vw;
    text-decoration: none;
    color: white;
}

.price-details{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}

.price-details .dish-price{
    font-size: 1.3vw;
    font-weight: 1000;
    color: red;
}

.view-more-btn,.buy-btn{
    background-color: #00833E;
}

.buy-btn{
    background-color: #00833E;
}

.like-unlike{
    width: 1.5vw;

}

.like-unlike img{
    width: 100%;
  
}
.view-more{
    margin-top: 50px;
    text-align: center;
}

